extends layout

block content      

    .container
      #chatwindow
        #contents
          h1 Chat between #{messages[0].author} and #{messages[0].reciever}
          .chattop
            ul(id="chats")
              each message in messages
                li
                  p #{message.author}: #{message.body}

          .chatbot
            form(action="/messages/#{messages[0].reciever}/#{messages[0].chatId}", method="post", id='msgForm')
              input.form-control(id="composedMessage" autocomplete="off" name='composedMessage')
              br
              br
              br
              input.btn.btn-default(type='submit', id='dataSend' value="Send")