extends layout

block content
  h1 Edit profile
  
  
  if(user)
    form(action="/editprofile" method="post")
      .form-group
      br
      .col-md-6 
        p Name: 
        h3 #{user.name}
        br
        p Email:
        h3 #{user.email}
        br
        p Address:
        br
        .form-group
          input#street.form-control(type='text' value='' name='street' placeholder="Street")
        .form-group
          input#city.form-control(type='text' value='' name='city' placeholder="City")
        .form-group
         select#state.form-control(name='state')
          option(value='na') N/A
          option(value='act') ACT
          option(value='nsw') NSW
          option(value='qld') QLD  
          option(value='sa') SA
          option(value='tas') TAS
          option(value='vic') VIC
          option(value='wa') WA
        .form-group
          select#country.form-control(name='country')
           option(value='australia') AUSTRALIA


      //-  input#state.form-control(type='text' value='' name='state' placeholder="State")
      //-  input#country.form-control(type='text' value='' name='country' placeholder="Country")
      .col-md-6
        p Interests:
        .form-group
          select#interest1.form-control(name='interest1')
            option(value='') 
            option(value='bootcamp') Bootcamp  
            option(value='cycling') Cycling
            option(value='gym') Gym
            option(value='rowing') Rowing
            option(value='running') Running
            option(value='triathalon') Triathalon 
         .form-group
           select#interest2.form-control(name='interest3')
             option(value='') 
             option(value='bootcamp') Bootcamp  
             option(value='cycling') Cycling
             option(value='gym') Gym
             option(value='rowing') Rowing
             option(value='running') Running
             option(value='triathalon') Triathalon 
        .form-group
          select#interest1.form-control(name='interest1')
            option(value='') 
            option(value='bootcamp') Bootcamp  
            option(value='cycling') Cycling
            option(value='gym') Gym
            option(value='rowing') Rowing
            option(value='running') Running
            option(value='triathalon') Triathalon 
        //- input#interest1.form-control(type='text' value='' name='interest1' placeholder="e.g. Gym")
        //- input#interest2.form-control(type='text' value='' name='interest2' placeholder="e.g. Swimming")
        //- input#interest3.form-control(type='text' value='' name='interest3' placeholder="e.g. Marathons") 
        br  
        p Gym:
        br
        input#gym.form-control(type='text' value='', name='gym' placeholder="e.g. Jetts")
        br
        p About Me:
        textarea#aboutMe.form-control(rows='4', cols='20', name='about' placeholder="Write a description")
        br

      //- NEED TO DO AN POST REQ UPDATE OF USER'S PROFILE ON SERVER SIDE
      input.btn.btn-default(type='submit', value='Update')
    
    
  if (!user)
    p Unauthorised

  //- 
  //- script.
  //-   //Populate with INTEREST data from db
  //-   var interest1Var = "#{interest.interest1}"; //unique var
  //-   if (interest1Var == ''){
  //-     document.getElementById('interest1').placeholder = "Enter an interest e.g. Gym";
  //-   } else {
  //-     document.getElementById('interest1').value = interest1Var;
  //-   }
  //-   
  //-   var interest2Var = "#{interest.interest2}"; //unique var
  //-   if (interest2Var == ''){
  //-     document.getElementById('interest2').placeholder = "Enter an interest e.g. Running";
  //-   } else {
  //-     document.getElementById('interest2').value = interest2Var;
  //-   }
  //-   
  //-   var interest3Var = "#{interest.interest3}"; //unique var
  //-   if (interest3Var == ''){
  //-     document.getElementById('interest3').placeholder = "Enter an interest e.g. Tennis";
  //-   } else {
  //-     document.getElementById('interest3').value = interest3Var;
  //-   }
  //-   
  //-   //Populate with GYM data from db
  //-   var gymVar = "#{gym}";
  //-   if (gymVar == ''){
  //-     document.getElementById('gym').placeholder = "Enter a gym";
  //-   } else {
  //-     document.getElementById('gym').value = gymVar;
  //-   }
  //-   
  //-   //Populate with DESCRIPTION data from db
  //-   var aboutMeVar = "#{aboutMe}";
  //-   if (aboutMeVar == ''){
  //-     document.getElementById('aboutMe').placeholder = "Enter a description";
  //-   } else {
  //-     document.getElementById('aboutMe').value = aboutMeVar;
  //-   }
  //-   
  //-   //Populate with ADDRESS data from db
  //-   var streetVar = "#{address.street}"; //use unique var from loginregister.js GET request
  //-   if (streetVar == ''){
  //-     document.getElementById('street').placeholder = "Street";
  //-   } else {
  //-     document.getElementById('street').value = streetVar;
  //-   }
  //- 
  //-   var cityVar = "#{address.city}";
  //-   if (cityVar == ''){
  //-     document.getElementById('city').placeholder = "City";
  //-   } else {
  //-     document.getElementById('city').value = cityVar;
  //-   }
  //-   
  //-   var stateVar = "#{address.city}";
  //-   if (stateVar == ''){
  //-     document.getElementById('state').placeholder = "State";
  //-   } else {
  //-     document.getElementById('state').value = stateVar;
  //-   }
  //-   
  //-   var countrytVar = "#{address.country}";
  //-   if (countrytVar == ''){
  //-     document.getElementById('Country').placeholder = "Country";
  //-   } else {
  //-     document.getElementById('Country').value = countrytVar;
  //-   }
  //-   
