extends layout

block style
  link(href='/css/findmatchResults.css', rel='stylesheet')

block content   
  if (!user)
    h3.text-center Please Login to view your match results
    br
    p.lead
      a.btn.btn-lg.btn-default(href='/login') Let's Login!

  if (user)

    h3.text-center 
      | YOUR TOP 
      &nbsp;
      strong #{newList.length}
      &nbsp; 
      | #{selectedActivity} MATCH RESULTS.
    .row.text-center
      each match in newList
        .col-sm-4
          div(class="thumbnail strength-#{match.activityMatchStrength}") 
            h1
              strong #{match.username}
            p #{match.gender}  |  #{match.age}

            p.matchInterests #{match.interests.interest1} | #{match.interests.interest2} | #{match.interests.interest3}
            

            a(href="/profile/#{match.username}")
              button.btn.btn-default(type='button') View profile

            &nbsp;
            a(href="/messages/newMessage/#{match.username}")
              button.btn(type='button') Send a Message!

  script.
    var toReplace = document.getElementsByClassName('matchInterests');
    for(var i=0; i<toReplace.length; i++) {
      if (toReplace[i].innerHTML == ' |  | ') {
        toReplace[i].innerHTML = "no activities";
        }
    }


      
  