extends layout

block content
  .container
    h1= title
    p Name:
    h3 #{account.username}
    br
    p Gender: 
    h3 #{account.gender}
    br
    p Birthday: 
    h3 #{birthdate}
    br
    p Gym: 
    h3 #{account.gym}
    br
    if (user)
      p Email:
      h3 #{account.email}
      br
      a(href="/editprofile")
        button.btn.btn-default(type='button') Edit profile

      
