extends layout

block content
  h2= title
  .col-md-6  
    p Name:
    h1 #{account.username}
    br
    p Gender: 
    h3 #{account.gender}
    br
    p Birthday: 
    h3 #{birthdate}
    br
    p Gym: 
    h3 #{account.gym}
    br
    p Interests: 
    h3 #{account.interests[0].interest1}
    h3 #{account.interests[0].interest2}
    h3 #{account.interests[0].interest3}
    br
    
  .col-md-6
    p Address: 
    if(user)
      h3 #{account.address[0].street},
    h3 #{account.address[0].city},
    //state not in schema yet
    h3 #{account.address[0].state} state,
    h3 #{account.address[0].country}    

    br
    p About Me: 
    h3 #{account.aboutMe}
    br
    if (user)
      p Email:
      h3 #{account.email}
      br
      a(href="/editprofile")
        button.btn.btn-default(type='button') Edit profile
      
